<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>History for {{ current_user.firstname }} {{ current_user.lastname }}</h1>
    {% for history in history_data %}
        <p>อายุ: {{ history.age }}</p>
        <p>ความดันโลหิตสูง: {{ history.hypertension }}</p>
        {% if history.result == '1' %}
            <p>ผลการทำนาย : ไม่มีความเสี่ยง</p> 
        {% else %}
            <p>ผลการทำนาย : มีความเสี่ยง</p> 
        {% endif %}
        
        <!-- add more fields as needed -->
    {% endfor %}
</body>
</html>