<!-- register.html -->
<!DOCTYPE html>
<html>

<head>
    <title>CKD Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="./style/style.css">
    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/bootstrap-icons.css" rel="stylesheet">

    <link href="../static/css/owl.carousel.min.css" rel="stylesheet">

    <link href="../static/css/owl.theme.default.min.css" rel="stylesheet">

    <link href="../static/css/templatemo-medic-care.css" rel="stylesheet">
    <style>
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        .h-custom {
            height: calc(100% - 73px);
        }

        @media (max-width: 450px) {
            .h-custom {
                height: 100%;
            }
        }
    </style>
</head>

<body>
    <div class="container bg-da">
        <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="/">หน้าหลัก</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">ติดต่อ</a>
                        </li>

                        <a class="navbar-brand d-none d-lg-block" href="/">
                            CKD Application
                            <strong class="d-block">Predict kidney disease risk</strong>
                        </a>

                        <li class="nav-item">
                            <a class="nav-link" href="/login">เข้าสู่ระบบ</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="/register">สมัครมาชิก</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>

    <!-- <form method="post" action="{{ url_for('register') }}">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br>
        <label for="firstname">First name:</label>
        <input type="text" name="firstname" required>
        <br>
        <label for="lastname">Last name:</label>
        <input type="text" name="lastname" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <br>
        <input type="submit" value="Register">
    </form> -->
    <section class="vh-100">
        <div class="container-fluid h-custom ">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                        class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="post" action="{{ url_for('register') }}">

                        <div class="container mt-5">
                            <h2>สมัครมาชิก</h2>
                            <!-- Username input -->
                            <div class="form-outline p-1">
                                <label class="form-label" for="form3Example3">ชื่อผู้ใช้</label>
                                <input type="text" id="form3Example3" name="username"
                                    class="form-control form-control-lg" placeholder="กรอกชื่อผู้ใช้" required />
                            </div>

                            <!-- Password input -->
                            <div class="form-outline p-1">
                                <label class="form-label" for="form3Example4">รหัสผ่าน</label>
                                <input type="password" id="form3Example4" name="password"
                                    class="form-control form-control-lg" placeholder="กรอกรหัสผ่าน" required />
                            </div>

                            <!-- Firstname input -->
                            <div class="form-outline p-1">
                                <label class="form-label" for="form3Example3">ชื่อ</label>
                                <input type="text" id="form3Example3" name="firstname"
                                    class="form-control form-control-lg" placeholder="กรอกชื่อ" required />
                            </div>

                            <!-- Lastname input -->
                            <div class="form-outline p-1">
                                <label class="form-label" for="form3Example3">นามสกุล</label>
                                <input type="text" id="form3Example3" name="lastname"
                                    class="form-control form-control-lg" placeholder="กรอกนามสกุล" required />
                            </div>

                            <!-- Email input -->
                            <div class="form-outline p-1">
                                <label class="form-label" for="form3Example3">อีเมล</label>
                                <input type="text" id="form3Example3" name="email" class="form-control form-control-lg"
                                    placeholder="กรอกอีเมล" required />
                            </div>

                            <!-- Role input -->
                            <div class="form-outline p-1">
                                <label class="form-label" for="form3Example3">ประเภทผู้ใช้</label>
                                <select class="form-select" aria-label="Default select example" name="user_role" required>
                                    <option selected>เลือกประเภทผู้ใช้</option>
                                    <option value="1">ผู้เชี่ยวชาญด้านการแพทย์</option>
                                    <option value="2">ผู้ใช้ทั่วไป</option>
                                  </select>
                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">สมัครมาชิก</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>